<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MinimumLogLevel" value="Debug"/>
    <add key="ScriptSource" value="Assembly"/>
    
    <!-- Kroger - OnDemand Login Script -->
    <add key="Script" value="LoadTest.Kroger.Scripts.OnDemandLoginScript, LoadTest.Kroger"/>
    <add key="BaseUrl" value="https://ondemand.dev.m6demandview.com/" />
    
    <!-- Tron - TaskProc with merged report requests -->
    <!--<add key="Script" value="LoadTest.Vcp.Scripts.MergedTaskProcScript, LoadTest.Vcp"/>
    <add key="BaseUrl" value="http://testmsw01/MicroStrategy/asp/TaskProc.aspx"/>-->
    
    <!-- Tron - General -->
    <!--<add key="Script" value="LoadTest.Vcp.Scripts.RetailerPersonaGeneratesVendorSalesReportScript, LoadTest.Vcp"/>
    <add key="BaseUrl" value="http://login.dev-market6.local"/>-->

    <add key="Workers" value="1"/>
    
    <!-- For FixedWorkersAndIteration runner -->
    <add key="RunType" value="FixedWorkersAndIterations"/>
    <add key="IterationsPerWorker" value="1"/>
    
    <!-- For FixedTime runner -->
    <!--<add key="RunType" value="FixedTime"/>-->
    <!--   Time to run the script in seconds -->
    <add key="RunTime" value="120"/>
    <!--   Time between each worker starting -->
    <add key="RampupTime" value="30"/>
    
    
    <add key="ReportWriter" value="MK6.AutomatedTesting.Load.ReportWriters.CSVReportWriter, MK6.AutomatedTesting.Load"/>

    <!-- Used by TaskProcRequest -->
    <add key="MicroStrategyIServer" value="testmsi01"/>
    <add key="MicroStrategyProject" value="IBC+Scorecard+Template"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
